@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light;
}

* {
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Vazir, sans-serif;
    overflow-x: hidden;
}

@font-face {
    font-family: Vazir;
    src: url("../assets/font/Vazir-Medium-FD.woff2") format("woff2");
}
